/* HipowAR colors

#1f94af  --> HiPowAR blue
#A21564/#a00761  --> HiPowAR Red
#a007612e red, transparent 1
#fbf5f9 red transparent 2


*/
.btn-primary {--bs-btn-bg: #1f94af}
.btn-primary {--bs-btn-border-color: #1f94af}
.btn-primary {--bs-btn-hover-bg: #A21564}
.btn-primary {--bs-btn-hover-border-color: #A21564}


--bs-btn-active-bg


.accordion-button:not(.collapsed) {color: #a00761}
.accordion-button:not(.collapsed) {background-color: #a007612e}

.accordion-button {color: #a00761}
.accordion-button {background-color: #a007610a}
.accordion-button {hover-background-color: #a007612e}


.accordion-button:focus {border-color: #fff0}

.accordion-body {background-color: #a007610a}

.accordion {--bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0)}

.accordion {
	--bs-accordion-color: #212529;
	--bs-accordion-bg: #fff;
	--bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
	--bs-accordion-border-color: var(--bs-border-color);
	--bs-accordion-border-width: 1px;
	--bs-accordion-border-radius: 0.375rem;
	--bs-accordion-inner-border-radius: calc(0.375rem - 1px);
	--bs-accordion-btn-padding-x: 1.25rem;
	--bs-accordion-btn-padding-y: 1rem;
	--bs-accordion-btn-color: #212529;
	--bs-accordion-btn-bg: var(--bs-accordion-bg);
	--bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	--bs-accordion-btn-icon-width: 1.25rem;
	--bs-accordion-btn-icon-transform: rotate(-180deg);
	--bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
	--bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	--bs-accordion-btn-focus-border-color: #86b7fe;
	--bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0,0,0,0);
	--bs-accordion-body-padding-x: 1.25rem;
	--bs-accordion-body-padding-y: 1rem;
	--bs-accordion-active-color: #a00761;
	--bs-accordion-active-bg: #e7f1ff;
}

/* Card */
.card {
	--bs-card-spacer-y: 1rem;
	--bs-card-spacer-x: 1rem;
	--bs-card-title-spacer-y: 0.5rem;
	--bs-card-border-width: 1px;
	--bs-card-border-color: var(--bs-border-color-translucent);
	--bs-card-border-radius: 0.375rem;
	--bs-card-box-shadow: ;
	--bs-card-inner-border-radius: calc(0.375rem - 1px);
	--bs-card-cap-padding-y: 0.5rem;
	--bs-card-cap-padding-x: 1rem;
	--bs-card-cap-bg: #a007612e;
	--bs-card-cap-color: ;
	--bs-card-height: ;
	--bs-card-color: ;
	--bs-card-bg: #fbf5f9;
	--bs-card-img-overlay-padding: 1rem;
	--bs-card-group-margin: 0.75rem;
	word-wrap: break-word;
}